.flex{
  display: flex;
}
.flex-grow{
  flex: 1
}
.margin-vertical-two{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.margin-vertical-one{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.no-margin{
  margin: 0px
}
.margin-top-one{
  margin-top: 1rem;
}
.margin-bottom-one{
  margin-bottom: 1rem;
}
.full-width{
  width: 100%
}